# French 43 - Introduction to Jupyter Notebook

## The Jupyter Notebook

First of all, note that this page is divided into what are called *cells*. You can navigate cells by clicking on them or by using the up and down arrows. Cells will be highlighted as you navigate them.

### Text cells

Text cells (like this one) can be edited by double-clicking on them. They're written in a simple format called [Markdown](http://daringfireball.net/projects/markdown/syntax) to add formatting and section headings.  You don't need to learn Markdown, but know the difference between Text Cells and Code Cells.

### Code cells
Other cells contain code in the Python 3 language. Don't worry -- we'll show you everything you need to know to succeed in this part of the class. 

The fundamental building block of Python code is an **expression**. Cells can contain multiple lines with multiple expressions.  We'll explain what exactly we mean by "expressions" in just a moment: first, let's learn how to "run" cells.

### Running cells

"Running a cell" is equivalent to pressing "Enter" on a calculator once you've typed in the expression you want to evaluate: it produces an **output**. When you run a text cell, it outputs clean, organized writing. When you run a code cell, it **computes** all of the expressions you want to evaluate, and can **output** the result of the computation.

<p></p>

<div class="alert alert-info">
To run the code in a code cell, first click on that cell to activate it.  It'll be highlighted with a little green or blue rectangle.  Next, you can either press the <code><b>â–¶|</b> Run </code> button above or press <b><code>Shift + Return</code></b> or <b><code>Shift + Enter</code></b>. This will run the current cell and select the next one.
</div>

Text cells are useful for taking notes and keeping your notebook organized, but your data analysis will be done in code cells. We will focus on code cells for the rest of the class.

In [46]:
print("Hello world!")

Hello world!

### Expressions

An expression is a combination of numbers, variables, operators, and/or other Python elements that the language interprets and acts upon. Expressions act as a set of **instructions** to be followed, with the goal of generating specific outcomes.

You can start by thinking of code cells as really smart calculators that computes these expressions. For instance, code cells can evaluate simple arithmetic:

In [47]:
#Run me!
#This is an expression
10 + 10

20

In [48]:
#Run me too!
#This is another expression
(10 + 10) / 5

4.0

### Variables!

But the point of coding is that you can save these outputs to be used later without computing it again. So, we set **variables** to these values! Just like in your standard algebra class, you can set the letter `x` to be 10. You can set letter `y` to be 5. You can add variables `x` and `y` to get 15.

In [49]:
#this won't output anything: you're just telling the cell to set x to 10
x = 10

In [50]:
y = 5

In [51]:
#This will output the answer to the addition: you're asking it to compute the number
x + y

15

You can then **redefine** variables you have used before to hold **new** values; in other words, it replaces the old values. If you run the following cell, `x` and `y` will now hold different values:

In [52]:
#You can put all of the different expressions above into one code cell.
#When you run this code cell, everything will be evaluated in order, from top to bottom.
x = 3
y = 8
x+y

11

In [53]:
#Adding the variable name on the line below prints it out!
test = 4
test

4

In [54]:
another_test = 234
another_test

234

Variables are assigned to some value. This means everything to the right side of the equals sign is **first evaluated** and **then saved** as the variable:

In [55]:
#Notice y is still the same value as before
# test + y is evaluated to 12
# 12 is set to the varible answer_to_above

answer_to_above = test+y
answer_to_above

12

**You Try:** What should be the answer to "2 times `test` plus `answer_to_above`"? 

*Hint:* the astrisk symbol \* is used for the multiplication sign

In [56]:
#Calculate your answer in this code block

Does your answer make sense?

### Variables vs. Strings
We have to be careful when working with words in a code cell. Words carry different meanings and uses when they are **in quotes** and **not in quotes**.

When words are in quotes, they often signify some sort of **identification**. In this lab (and future notebooks), you'll use identification to specify **column names of tables**. In quotes, words have meaning: Python understands these as the name of something. If a table has a column named "Gender", we can ask the notebook to find the column named "Gender" and the data contained in this column. Therefore, these quotations are **values**, just like numbers. In Python, this value type is called a **string**.

In [57]:
#I output a number
123

123

In [58]:
#I output a string
"Woohoo"

'Woohoo'

What if we try to type a random word in a code cell **without** putting it in quotes?

In [59]:
#This will Error!
Woohoo

NameError: name 'Woohoo' is not defined

It throws out an error! Why? Because code cells think in terms of math, and any word **not** in quotes is considered to be a **variable** that stores information or means something. In this notebook, we haven't told it what `Woohoo` means -- it's just an empty variable holding no information, so it complains and says "I don't know what `Woohoo` is supposed to be." It's like taking an algebra exam and telling your teacher: "The answer is `x`". Your teacher would write back, "...and what, exactly, is `x`?" That's essentially what the notebook is saying.

Now run this cell to `import` some code we'll use today, nothing will `print` out, don't worry!

In [72]:
!pip install -I -q folium==0.8.3
import numpy as np
import matplotlib.pyplot as plt
from datascience import *
%matplotlib inline 
plt.style.use("fivethirtyeight")
import pandas as pd
import folium
import geojson
import geopandas as gpd
from IPython.display import IFrame

ImportError: No module named 'numpy'

In [70]:
### Importing

In data analytics, there is almost always a file holding your data that already exists. There are thousands of databases online that contain information on topics from all domains. In general, to import data from a file, we write:

```python
Table.read_table("file_name")
```

Most often, these file names end in `.csv` to show the data format. `.csv` format is popular for spreadsheets and can be imported/exported from programs such as Microsoft Excel, OpenOffice Calc, or Google spreadsheets. 
 
An example is shown below using [IRIS_SOCIOLOGIE](http://opendata.apur.org/datasets/iris-sociologie/data)

SyntaxError: invalid syntax (<ipython-input-70-b87c5be9d901>, line 3)

In [ ]:
Table.read_table("IRIS_SOCIOLOGIE.csv")

Now we are going to upload the other tables, Activite and Demographie

In [ ]:
dem_data = Table.read_table("IRIS_DEMOGRAPHIE-2.csv")

In [31]:
act_data = Table.read_table("IRIS_ACTIVITE.csv")

NameError: name 'Table' is not defined

## Renaming Columns

That's a lot of information. As you can see from the labels on top, this table shows location, environmental and health factors, as well as population and demographic information. First, we will rename a few columns in order to make it easier to visualize and work with the data.

## Using Tables

We can make criteria to cut down tables. Accessing only the rows, columns, or values specfic to our purpose makes information easier understood. Analysis and conclusions can be made when data is more digestible. 

We need to access the census table above and name it for further use. We assign the table to a variable so that we can reference it later!

In [32]:
soc_data = Table.read_table("IRIS_SOCIOLOGIE.csv")
soc_data

NameError: name 'Table' is not defined

In [33]:
set(soc_data.column("NOM_EPT"))

NameError: name 'soc_data' is not defined

This notebook can calculate how large this table is with two functions: num_rows and num_columns. The general form for these functions are table.num_rows and table.num_columns. 

Let's use these on the table above.

In [34]:
soc_data.num_rows

NameError: name 'soc_data' is not defined

In [35]:
soc_data.num_columns

NameError: name 'soc_data' is not defined

That's a 2841 x 36 table! We can first start to cut down this table using only some columns. Let's only include biological sex, age and the estimated base for 2010 census data. 

There are two methods to make a table with select columns included. We could either use the 'select' function or the 'drop' function. 

- `select` can create a new table with only the columns indicated in the parameters 
- `drop` can create a new table with columns NOT indicated in the parameters


Here's an example of code that results in smaller tables: (keep in mind that we assign each new table to a new variable, to make organization easier).

In [36]:
select_soc_data = soc_data.select("C12_MEN", "TX12_MENPSEUL", "C12_NE24F2", "SHAPE_ha", "SHAPE_Length", "NOM_EPT")
select_soc_data

NameError: name 'soc_data' is not defined

As you can see underneath the table, there are still 2831 rows omitted! Our next step is to only include the data with larger populations (larger than 4000).

To do this, we need to use a new function `where`. The general form of this function is:

```python
table_name.where(column_name, predicate)
```

We only want to look at the values in our table from Paris so let's include the columns where the `NOM_EPT = Paris` or `NOM_EPT = Grand-Paris Est`, we may use the predicate `are.equal_to()`. Note that we are assigning the new table to a new variable. We are referencing the table stored in an older variable (`select_soc_data`), and modifying it. That modification is what is stored in the new variable.

In [37]:
act_data_paris = act_data.where("NOM_EPT", are.equal_to("Paris"))
act_data_paris

NameError: name 'act_data' is not defined

In [38]:
dem_data_paris = dem_data.where("NOM_EPT", are.equal_to("Paris"))
dem_data_paris

NameError: name 'dem_data' is not defined

In [39]:
soc_data_paris = soc_data.where("NOM_EPT", are.equal_to("Paris"))
soc_data_paris

NameError: name 'soc_data' is not defined

---

### Tables Essentials!

For your reference, here's a table of useful `Table` functions:

|Name|Example|Purpose|
|-|-|-|
|`Table`|`Table()`|Create an empty table, usually to extend with data|
|`Table.read_table`|`Table.read_table("my_data.csv")`|Create a table from a data file|
|`with_columns`|`tbl = Table().with_columns("N", np.arange(5), "2*N", np.arange(0, 10, 2))`|Create a copy of a table with more columns|
|`column`|`tbl.column("N")`|Create an array containing the elements of a column|
|`sort`|`tbl.sort("N")`|Create a copy of a table sorted by the values in a column|
|`where`|`tbl.where("N", are.above(2))`|Create a copy of a table with only the rows that match some *predicate*|
|`num_rows`|`tbl.num_rows`|Compute the number of rows in a table|
|`num_columns`|`tbl.num_columns`|Compute the number of columns in a table|
|`select`|`tbl.select("N")`|Create a copy of a table with only some of the columns|
|`drop`|`tbl.drop("2*N")`|Create a copy of a table without some of the columns|
|`take`|`tbl.take(np.arange(0, 6, 2))`|Create a copy of the table with only the rows whose indices are in the given array|
|`join`|`tbl1.join("shared_column_name", tbl2)`|Join together two tables with a common column name
|`are.equal_to()`|`tbl.where("SEX", are.equal_to(0))`|find values equal to that indicated|
|`are.not_equal_to()`|`tbl.where("SEX", are.not_equal_to(0))` | find values not including the one indicated|
|`are.above()`| `tbl.where("AGE", are.above(30))` | find values greater to that indicated|
|`are.below()`| `tbl.where("AGE", are.below(40))` | find values less than that indicated |
|`are.between()`| `tbl.where("SEX", are.between(18, 60))` | find values between the two indicated |

---

## Visualizations 

Now that we have a manageable table we can start making visualizations! Due to the numerical nature of the census table above, let's first try a scatter plot. 

To create a scatter plot, we need to use the `scatter()` function. The general form is:

```python
table.scatter("column for x axis", "column for y axis")
```

An example is shown below:

We are going to first select the columns we want to compare.

In [40]:
new_soc_data1 = soc_data_paris.select("P12_RP_VOIT1P", "C12_NE24F2")
new_soc_data1

NameError: name 'soc_data_paris' is not defined

Now we will create a new table with mmore readable column names

In [41]:
new_soc_data2 = Table().with_column("Household_1_or_more_car", new_soc_data1.column("P12_RP_VOIT1P"),
                                   "Fam_2_or_more_under_25", new_soc_data1.column("C12_NE24F2"))
new_soc_data2

NameError: name 'Table' is not defined

This scatter plot is going to be the number of families with 2 or more children under 25 vs. the number of households with one or more cars.

In [42]:
new_soc_data2.scatter("Household_1_or_more_car", "Fam_2_or_more_under_25")

NameError: name 'new_soc_data2' is not defined

With this data, we can also make a line plot. To do this, we need to use the `plot()` function. This works a lot like `scatter()` where the general form is:

```python
table.plot("x column", "y column")
```

In [43]:
len(act_data_paris.column("C12_ACT1564_CS2"))

NameError: name 'act_data_paris' is not defined

In [44]:
len(dem_data_paris.column("P12_POP_IMM"))

NameError: name 'dem_data_paris' is not defined

In [45]:
act_dem = Table().with_column("Num_immigrant", dem_data_paris.column("P12_POP_IMM"),
                                   "Num_ent_15_to_64", act_data_paris.column("C12_ACT1564_CS2"))
act_dem

NameError: name 'Table' is not defined

In [ ]:
act_dem.scatter("Num_ent_15_to_64" ,"Num_immigrant")

In [ ]:
imm_fam = Table().with_column("Num_immigrant", dem_data_paris.column("P12_POP_IMM"),
                                   "Num_families_3_or_more", soc_data_paris.column("C12_NE24F3"))
imm_fam

Number of immigrants vs. number of families with 3 or more kids under 25

In [ ]:
imm_fam.scatter("Num_immigrant", "Num_families_3_or_more")

---

## Summary

### You've learned a lot in this module! Let's look back on the key parts. 

- To import data from a .csv/.txt file, we write `Table.read_table("file_name")`.

- To create our own table, we write `Table( ).with_columns("Column Name", array_name, . . .)` . 

- To count number of rows, we use `table_name.num_rows`.

- To count number of columns, we use `table_name.num_columns`.

- To create a new table with only the columns indicated in the parameters, we use `table_name.select("COLUMN NAME", ...)`. 

- To create a new table without the columns indicated in the parameters, we use `table_name.drop("COLUMN NAME", ...)`. 

- To create a table with only certain values, we can use `table_name.where(column_name, predicate)`.

- To create a new table with indicated rows from the original table, we use `table_name.take([index 1, index 2, . . . ])`. Remember in Python indices start at 0!

- To create a scatter plot, we use `table.scatter(column for x axis, column for y axis)`.

- To create a line plot, we use `table.plot(x column, y column)`.

- To make a bar graphs, we can use either `table.bar(x column, y column)` or `table.barh(x column, y column)`. 

- To make a histogram, we use `table.hist(x axis, bins(optional), unit(optional))`. 

- To merge tables, we use either `append` or `append_column`.

- To merge two tables with a common column name we use the `join` method.

---

With just some simple code, we were able to do an incredible amount of data analysis! Play around with the examples until you feel comfortable with the content of this notebook.

In [ ]:
# sanity check- should be 0.8.3
folium.__version__

In [ ]:
!ls

In [ ]:
# read in csv data
activite = pd.read_csv("IRIS_ACTIVITE.csv", index_col=0)
activite.IRIS = activite.IRIS.astype(str) # convert IRIS var to str for correct joining with geojson
activite.head()

In [ ]:
geo_path = "iris-sociologie.geojson"

# load geojson
g = geojson.load(open("iris-sociologie.geojson"))

# load geojson in GeoDataFrame (for EDA)
geo = gpd.read_file(geo_path)
geo.head()

In [ ]:
# create simple map with geojson outlines of arondissmonts
m1 = folium.Map(location=[48.8, 2.3], zoom_start=11)

folium.GeoJson(g).add_to(m1)

m1.save('images/simple-map.html') # save map to html file (Google Chrome bug workaround)
IFrame('images/simple-map.html', width='100%', height='750px') # display saved html file

# click on the whitespace to the left of the map to toggle scrolling

In [ ]:
# list of column names for choropleth reference
activite.columns

![title](images/pic2.png)

Now let's see what the results would look like using our data set

In [ ]:
# create a choropleth overlay for C12_MEN variable
m2 = folium.Map(location=[48.8, 2.3], zoom_start=11)

folium.Choropleth(
 geo_data=g, # geojson 
 data=activite, # df
 columns=['IRIS', 'C12_ACT1564_CS4'],   # first col must be IRIS, second col sets colors for overlay
 key_on='feature.properties.iris',   # key to match csv data with geojson areas
 fill_color='YlOrRd').add_to(m2)

folium.LayerControl().add_to(m2)

m2.save('images/choropleth-map.html') # save map to html file
IFrame('images/choropleth-map.html', width='100%', height='750px') # display saved html file

# click on the whitespace to the left of the cell to toggle scrolling

![title](images/pic1.png)

In [ ]:
# create a choropleth overlay for C12_MEN variable
m2 = folium.Map(location=[48.8, 2.3], zoom_start=11)

folium.Choropleth(
 geo_data=g, # geojson 
 data=activite, # df
 columns=['IRIS', 'C12_ACT1564_CS3'],   # first col must be IRIS, second col sets colors for overlay
 key_on='feature.properties.iris',   # key to match csv data with geojson areas
 fill_color='BuPu').add_to(m2)

folium.LayerControl().add_to(m2)

m2.save('images/choropleth-map.html') # save map to html file
IFrame('images/choropleth-map.html', width='100%', height='750px') # display saved html file

# click on the whitespace to the left of the cell to toggle scrolling