# French 43 - Introduction to Jupyter Notebook

## The Jupyter Notebook

First of all, note that this page is divided into what are called *cells*. You can navigate cells by clicking on them or by using the up and down arrows. Cells will be highlighted as you navigate them.

### Text cells

Text cells (like this one) can be edited by double-clicking on them. They're written in a simple format called [Markdown](http://daringfireball.net/projects/markdown/syntax) to add formatting and section headings.  You don't need to learn Markdown, but know the difference between Text Cells and Code Cells.

### Code cells
Other cells contain code in the Python 3 language. Don't worry -- we'll show you everything you need to know to succeed in this part of the class. 

The fundamental building block of Python code is an **expression**. Cells can contain multiple lines with multiple expressions.  We'll explain what exactly we mean by "expressions" in just a moment: first, let's learn how to "run" cells.

### Running cells

"Running a cell" is equivalent to pressing "Enter" on a calculator once you've typed in the expression you want to evaluate: it produces an **output**. When you run a text cell, it outputs clean, organized writing. When you run a code cell, it **computes** all of the expressions you want to evaluate, and can **output** the result of the computation.

<p></p>

<div class="alert alert-info">
To run the code in a code cell, first click on that cell to activate it.  It'll be highlighted with a little green or blue rectangle.  Next, you can either press the <code><b>â–¶|</b> Run </code> button above or press <b><code>Shift + Return</code></b> or <b><code>Shift + Enter</code></b>. This will run the current cell and select the next one.
</div>

Text cells are useful for taking notes and keeping your notebook organized, but your data analysis will be done in code cells. We will focus on code cells for the rest of the class.

In [ ]:
print("Hello world!")

### Expressions

An expression is a combination of numbers, variables, operators, and/or other Python elements that the language interprets and acts upon. Expressions act as a set of **instructions** to be followed, with the goal of generating specific outcomes.

You can start by thinking of code cells as really smart calculators that computes these expressions. For instance, code cells can evaluate simple arithmetic:

In [ ]:
#Run me!
#This is an expression
10 + 10

In [ ]:
#Run me too!
#This is another expression
(10 + 10) / 5

### Variables!

But the point of coding is that you can save these outputs to be used later without computing it again. So, we set **variables** to these values! Just like in your standard algebra class, you can set the letter `x` to be 10. You can set letter `y` to be 5. You can add variables `x` and `y` to get 15.

In [ ]:
#this won't output anything: you're just telling the cell to set x to 10
x = 10

In [ ]:
y = 5

In [ ]:
#This will output the answer to the addition: you're asking it to compute the number
x + y

You can then **redefine** variables you have used before to hold **new** values; in other words, it replaces the old values. If you run the following cell, `x` and `y` will now hold different values:

In [ ]:
#You can put all of the different expressions above into one code cell.
#When you run this code cell, everything will be evaluated in order, from top to bottom.
x = 3
y = 8
x+y

In [ ]:
#Adding the variable name on the line below prints it out!
test = 4
test

In [ ]:
another_test = 234
another_test

Variables are assigned to some value. This means everything to the right side of the equals sign is **first evaluated** and **then saved** as the variable:

In [ ]:
#Notice y is still the same value as before
# test + y is evaluated to 12
# 12 is set to the varible answer_to_above

answer_to_above = test+y
answer_to_above

**You Try:** What should be the answer to "2 times `test` plus `answer_to_above`"? 

*Hint:* the astrisk symbol \* is used for the multiplication sign

In [ ]:
#Calculate your answer in this code block

Does your answer make sense?

### Variables vs. Strings
We have to be careful when working with words in a code cell. Words carry different meanings and uses when they are **in quotes** and **not in quotes**.

When words are in quotes, they often signify some sort of **identification**. In this lab (and future notebooks), you'll use identification to specify **column names of tables**. In quotes, words have meaning: Python understands these as the name of something. If a table has a column named "Gender", we can ask the notebook to find the column named "Gender" and the data contained in this column. Therefore, these quotations are **values**, just like numbers. In Python, this value type is called a **string**.

In [ ]:
#I output a number
123

In [ ]:
#I output a string
"Woohoo"

What if we try to type a random word in a code cell **without** putting it in quotes?

In [ ]:
#This will Error!
Woohoo

It throws out an error! Why? Because code cells think in terms of math, and any word **not** in quotes is considered to be a **variable** that stores information or means something. In this notebook, we haven't told it what `Woohoo` means -- it's just an empty variable holding no information, so it complains and says "I don't know what `Woohoo` is supposed to be." It's like taking an algebra exam and telling your teacher: "The answer is `x`". Your teacher would write back, "...and what, exactly, is `x`?" That's essentially what the notebook is saying.

Now run this cell to `import` some code we'll use today, nothing will `print` out, don't worry!

In [ ]:
!pip install -I -q folium==0.8.3
import numpy as np
import matplotlib.pyplot as plt
from datascience import *
%matplotlib inline 
plt.style.use("fivethirtyeight")
import pandas as pd
import folium
import geojson
import geopandas as gpd
from IPython.display import IFrame

### Importing

In data analytics, there is almost always a file holding your data that already exists. There are thousands of databases online that contain information on topics from all domains. In general, to import data from a file, we write:

```python
Table.read_table("file_name")
```

Most often, these file names end in `.csv` to show the data format. `.csv` format is popular for spreadsheets and can be imported/exported from programs such as Microsoft Excel, OpenOffice Calc, or Google spreadsheets. 
 
An example is shown below using [IRIS_SOCIOLOGIE](http://opendata.apur.org/datasets/iris-sociologie/data)

In [ ]:
Table.read_table("IRIS_SOCIOLOGIE.csv")

Now we are going to upload the other tables, Activite and Demographie

In [ ]:
dem_data = Table.read_table("IRIS_DEMOGRAPHIE-2.csv")

In [ ]:
act_data = Table.read_table("IRIS_ACTIVITE.csv")

## Renaming Columns

That's a lot of information in one table using abbreviations that can be difficult to understand. In order to make it more readable, we will rename the columns by creating a new table with the data we want to use and adding more explicit column names.

In [ ]:
act_data

#### First we will select the data we want to use.

In [ ]:
act_data_select = act_data.select("P12_POP1564", "P12_ACT1564", "P12_ACTOCC1564")
act_data_select

#### Now we will replace the names by creating a new table.

In [ ]:
act_data_renamed = Table().with_columns("Number of People 15-64", act_data_select.column("P12_POP1564"),
                                        "Number of Active People 15-64", act_data_select.column("P12_ACT1564"),
                                        "Number of Employed People 15-64", act_data_select.column("P12_ACTOCC1564"))
act_data_renamed

Now we have a table with more specific names, it is easier to work with the data. You will see this technique when we show you plots later in the notebook.

## Using Tables

We can make criteria to cut down tables. Accessing only the rows, columns, or values specfic to our purpose makes information easier understood. Analysis and conclusions can be made when data is more digestible. 

We need to access the census table above and name it for further use. We assign the table to a variable so that we can reference it later!

In [ ]:
soc_data = Table.read_table("IRIS_SOCIOLOGIE.csv")
soc_data

Let's take a look at the size of the data we are dealing with by examining the number of rows and columns in the data set.

In [ ]:
soc_data.num_rows

In [ ]:
soc_data.num_columns

That's a 2841 x 36 table! We can first start to cut down this table using only some of the columns as not all of them are relevant for our work.

There are two methods to make a table with select columns included. We could either use the 'select' function or the 'drop' function. 

- `select` can create a new table with only the columns indicated in the parameters 
- `drop` can create a new table with columns NOT indicated in the parameters


Here's an example of code that results in smaller tables: (keep in mind that we assign each new table to a new variable, to make organization easier).

In [ ]:
select_soc_data = soc_data.select("C12_MEN", "TX12_MENPSEUL", "C12_NE24F2", "SHAPE_ha", "SHAPE_Length", "NOM_EPT")
select_soc_data

As you can see underneath the table, there are still 2831 rows omitted! That's a lot of data, and may include more than what we truly need, so we try to narrow down the data to some subset we care more about.

To do this, we need to use a new function `where`. The general form of this function is:

```python
table_name.where(column_name, predicate)
```

Let's limit our data to that which comes from Paris. To do this we include the columns where the `NOM_EPT` is equal to `Paris`. We use the predicate `are.equal_to()` to complete that operation.

Note that we are assigning the new table to a new variable. We are referencing the table stored in an older variable (`act_data`), and modifying it. That modification is what is stored in the new variable.

In [ ]:
act_data_paris = act_data.where("NOM_EPT", are.equal_to("Paris"))
act_data_paris

In [ ]:
dem_data_paris = dem_data.where("NOM_EPT", are.equal_to("Paris"))
dem_data_paris

In [ ]:
soc_data_paris = soc_data.where("NOM_EPT", are.equal_to("Paris"))
soc_data_paris

---

### Tables Essentials!

For your reference, here's a table of useful `Table` functions:

|Name|Example|Purpose|
|-|-|-|
|`Table`|`Table()`|Create an empty table, usually to extend with data|
|`Table.read_table`|`Table.read_table("my_data.csv")`|Create a table from a data file|
|`with_columns`|`tbl = Table().with_columns("N", np.arange(5), "2*N", np.arange(0, 10, 2))`|Create a copy of a table with more columns|
|`column`|`tbl.column("N")`|Create an array containing the elements of a column|
|`sort`|`tbl.sort("N")`|Create a copy of a table sorted by the values in a column|
|`where`|`tbl.where("N", are.above(2))`|Create a copy of a table with only the rows that match some *predicate*|
|`num_rows`|`tbl.num_rows`|Compute the number of rows in a table|
|`num_columns`|`tbl.num_columns`|Compute the number of columns in a table|
|`select`|`tbl.select("N")`|Create a copy of a table with only some of the columns|
|`drop`|`tbl.drop("2*N")`|Create a copy of a table without some of the columns|
|`take`|`tbl.take(np.arange(0, 6, 2))`|Create a copy of the table with only the rows whose indices are in the given array|
|`join`|`tbl1.join("shared_column_name", tbl2)`|Join together two tables with a common column name
|`are.equal_to()`|`tbl.where("SEX", are.equal_to(0))`|find values equal to that indicated|
|`are.not_equal_to()`|`tbl.where("SEX", are.not_equal_to(0))` | find values not including the one indicated|
|`are.above()`| `tbl.where("AGE", are.above(30))` | find values greater to that indicated|
|`are.below()`| `tbl.where("AGE", are.below(40))` | find values less than that indicated |
|`are.between()`| `tbl.where("SEX", are.between(18, 60))` | find values between the two indicated |

---

## Visualizations 

Now that we have a manageable table we can start making visualizations! Due to the numerical nature of the census table above, let's first try a scatter plot. 

To create a scatter plot, we need to use the `scatter()` function. The general form is:

```python
table.scatter("column for x axis", "column for y axis")
```

An example is shown below:

We are going to first select the columns we want to compare. Now we will create a new table with more readable column names.

In [ ]:
new_soc_data = Table().with_column("Household 1 or more car", soc_data_paris.column("P12_RP_VOIT1P"),
                                   "Fam 2 or more under 25", soc_data_paris.column("C12_NE24F2"))
new_soc_data

This scatter plot is going to be the number of families with 2 or more children under 25 vs. the number of households with one or more cars.

In [ ]:
new_soc_data.scatter("Household 1 or more car", "Fam 2 or more under 25")

In this scatter plot, we can see that there is a positive association between the **households in Paris with 1 or more cars** and the **families in Paris with 2 or more children under 25 years old**. From visualizing the data, we can get a better sense of relationships and associations but we cannot establish causality without more evidence. This helps us narrow down the focus of our research and develop further statistical models.

In [ ]:
act_dem = new_soc_data.with_column("Num immigrant", dem_data_paris.column("P12_POP_IMM"),
                                   "Num ent 15 to 64", act_data_paris.column("C12_ACT1564_CS2"))
act_dem

In [ ]:
act_dem.scatter("Num ent 15 to 64" ,"Num immigrant")

In this case, we do not see any clear association between the **the number of entrepreneurs between ages 15 to 64** and **the number of immigrants** in Paris. Sometimes we assume data will provide a certain result, but by visualizing it, we can get a more clear sense of the accuracy of our assumptions.

In [ ]:
imm_fam = act_dem.with_column("Num immigrant", dem_data_paris.column("P12_POP_IMM"),
                                   "Num families 3 or more", soc_data_paris.column("C12_NE24F3"))
imm_fam

Number of immigrants vs. number of families with 3 or more kids under 25

In [ ]:
imm_fam.scatter("Num immigrant", "Num families 3 or more")

Although there appears to be some association between **the number of immigrants** and the **number of families with 3 or more children** in Paris, it does not appear very strong. However, we can do further statistical testing in order to get more information. If you would like to learn more about this, it is taught in depth in Data 8 and other data science courses. We can analyze any columns we'd like, or even take a different subset of data. Try taking a look at these scatter plots if we only consider data outside of Paris proper.

## Defining Functions

So far, we have gone over multiple table functions that can manipulate data sets. A large part of programming is defining functions so we can use it in other instances. The way we do this is with a "def" and "return" statement. See the example below!

In [ ]:
def add(a, b):
    return a + b

sums = add(2, 3)
sums

---

## Summary

### You've learned a lot in this module! Let's look back on the key parts. 

- To import data from a .csv/.txt file, we write `Table.read_table("file_name")`.

- To create our own table, we write `Table( ).with_columns("Column Name", array_name, . . .)` . 

- To count number of rows, we use `table_name.num_rows`.

- To count number of columns, we use `table_name.num_columns`.

- To create a new table with only the columns indicated in the parameters, we use `table_name.select("COLUMN NAME", ...)`. 

- To create a new table without the columns indicated in the parameters, we use `table_name.drop("COLUMN NAME", ...)`. 

- To create a table with only certain values, we can use `table_name.where(column_name, predicate)`.

- To create a new table with indicated rows from the original table, we use `table_name.take([index 1, index 2, . . . ])`. Remember in Python indices start at 0!

- To create a scatter plot, we use `table.scatter(column for x axis, column for y axis)`.

- To create a line plot, we use `table.plot(x column, y column)`.

- To make a bar graphs, we can use either `table.bar(x column, y column)` or `table.barh(x column, y column)`. 

- To make a histogram, we use `table.hist(x axis, bins(optional), unit(optional))`. 

- To merge tables, we use either `append` or `append_column`.

- To merge two tables with a common column name we use the `join` method.

---

With just some simple code, we were able to do an incredible amount of data analysis! Play around with the examples until you feel comfortable with the content of this notebook.

# Maps

Scatter plots are great for noticing general trends, but what if we'd like to see how trends differ by location. For that we turn to maps that we will create below.

In [ ]:
# Mapping Prerequisites
demographie = pd.read_csv("IRIS_DEMOGRAPHIE-2.csv", index_col=0)
demographie.IRIS = demographie.IRIS.astype(str)
geo_path = "iris-sociologie.geojson"

g = geojson.load(open("iris-sociologie.geojson"))

geo = gpd.read_file(geo_path)
geo.head()

In [ ]:
# create simple map with geojson outlines of arondissmonts
m1 = folium.Map(location=[48.8, 2.3], zoom_start=11)

folium.GeoJson(g).add_to(m1)

m1.save('images/simple-map.html') # save map to html file (Google Chrome bug workaround)
IFrame('images/simple-map.html', width='100%', height='750px') # display saved html file

# click on the whitespace to the left of the map to toggle scrolling

In [ ]:
demographie.head()

In [ ]:
demographie['all_workers'] = demographie['C12_POP15P_CS1'] + demographie['C12_POP15P_CS2'] + \
demographie['C12_POP15P_CS3'] + demographie['C12_POP15P_CS4'] + \
demographie['C12_POP15P_CS5'] + demographie['C12_POP15P_CS6']

In [ ]:
demographie['CS5_CS6'] = demographie['C12_POP15P_CS5'] + demographie['C12_POP15P_CS6']
demographie['white_blue_collar'] = demographie['CS5_CS6']/demographie['all_workers']
demographie['professionals'] = demographie['C12_POP15P_CS3']/demographie['all_workers']
demographie['Under 15'] = (demographie['P12_H0014'] + demographie['P12_F0014'])/demographie['P12_POP']
demographie['foreigners'] = (demographie['P12_POP_ETR'])/demographie['P12_POP']
demographie['immigrant'] = (demographie['P12_POP_IMM'])/demographie['P12_POP']

![title](images/pic2.png)

Above we can see the progression of the working class out of the city center. Now let's see what the results would look like using our data set from 2012 and discover for ourselves if the trends exhibited above in the paper by Anne Clerval.

In [ ]:
m2 = folium.Map(location=[48.8, 2.3], zoom_start=11)

folium.Choropleth(
 geo_data=g, # geojson 
 data=demographie, # df
 columns=['IRIS', 'white_blue_collar'],   # first col must be IRIS, second col sets colors for overlay
 key_on='feature.properties.iris',   # key to match csv data with geojson areas
 fill_color='YlOrRd',
bins=[0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 1.0]).add_to(m2)

folium.LayerControl().add_to(m2)

m2.save('images/choropleth-map.html') # save map to html file
IFrame('images/choropleth-map.html', width='100%', height='750px') # display saved html file

# click on the whitespace to the left of the cell to toggle scrolling

Similarly, Clerval looks at how the wealthy are simultaneously moving in to the locations held by the working class in the city center. We can also model this with our newer data to continue to explore Clerval's trends.

![title](images/pic1.png)

In [ ]:
m2 = folium.Map(location=[48.8, 2.3], zoom_start=11)

folium.Choropleth(
 geo_data=g, # geojson 
 data=demographie, # df
 columns=['IRIS', 'professionals'],   # first col must be IRIS, second col sets colors for overlay
 key_on='feature.properties.iris',   # key to match csv data with geojson areas
 fill_color='BuPu',
bins=[0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 1.0]).add_to(m2)

folium.LayerControl().add_to(m2)

m2.save('images/choropleth-map.html') # save map to html file
IFrame('images/choropleth-map.html', width='100%', height='750px') # display saved html file

# click on the whitespace to the left of the cell to toggle scrolling

Now that we've explored the gentrification of Paris's city center, we can also continue mapping a variety of variables. Below we try to map the proportion of people under age 15, followed by the proportion of foreigners, as well as the proportion of immigrants. Is there anything you notice? Any relation to things we may have seen earlier with the plotting of the data?

In [ ]:
m2 = folium.Map(location=[48.8, 2.3], zoom_start=11)

folium.Choropleth(
 geo_data=g, # geojson 
 data=demographie, # df
 columns=['IRIS', 'Under 15'],   # first col must be IRIS, second col sets colors for overlay
 key_on='feature.properties.iris',   # key to match csv data with geojson areas
 fill_color='BuGn',
bins=[0.0, 0.05, 0.1, 0.15, 0.2, 0.25, 1.0]).add_to(m2)

folium.LayerControl().add_to(m2)

m2.save('images/choropleth-map.html') # save map to html file
IFrame('images/choropleth-map.html', width='100%', height='750px') # display saved html file

# click on the whitespace to the left of the cell to toggle scrolling

In [ ]:
m2 = folium.Map(location=[48.8, 2.3], zoom_start=11)

folium.Choropleth(
 geo_data=g, # geojson 
 data=demographie, # df
 columns=['IRIS', 'foreigners'],   # first col must be IRIS, second col sets colors for overlay
 key_on='feature.properties.iris',   # key to match csv data with geojson areas
 fill_color='PuRd',
bins=[0.0, 0.05, 0.1, 0.15, 0.2, 0.25, 1.0]).add_to(m2)

folium.LayerControl().add_to(m2)

m2.save('images/choropleth-map.html') # save map to html file
IFrame('images/choropleth-map.html', width='100%', height='750px') # display saved html file

# click on the whitespace to the left of the cell to toggle scrolling

In [ ]:
m2 = folium.Map(location=[48.8, 2.3], zoom_start=11)

folium.Choropleth(
 geo_data=g, # geojson 
 data=demographie, # df
 columns=['IRIS', 'immigrant'],   # first col must be IRIS, second col sets colors for overlay
 key_on='feature.properties.iris',   # key to match csv data with geojson areas
 fill_color='YlGn',
bins=[0.0, 0.05, 0.1, 0.15, 0.2, 0.25, 1.0]).add_to(m2)

folium.LayerControl().add_to(m2)

m2.save('images/choropleth-map.html') # save map to html file
IFrame('images/choropleth-map.html', width='100%', height='750px') # display saved html file

# click on the whitespace to the left of the cell to toggle scrolling

---
## What's Next?

Please help us understand your views of this module with this short survey: 
https://docs.google.com/forms/d/e/1FAIpQLSe54U3E64kYFWwQHSUpAvWYMuJOdKzbHDZjPa3nMUlHSSs0PQ/viewform

Data science is a fast-growing field with applications in almost every subject you can imagine. Students and researchers alike have used Jupyter notebooks and data-driven methods to do everything from completing a lower-division class problem set to presenting a graduate research project. 

If you'd like to learn more about how to incorporate data science into your academic career:

* [DATA-8](http://data8.org) is offered every semester and is a great introduction to coding and statistics. The website includes links to the textbook, syllibi, and past homeworks.
* Data Science [Connector Courses](https://data.berkeley.edu/education/connectors) teach applied data science in everything from literature to cancer research. They can be taken with or after DATA-8.
* The Berkeley Institute for Data Science ([BIDS](https://bids.berkeley.edu/)) hosts data science talks, research resources organized by field, and office hours for those interested in more in-depth data science research.
* [DLAB](http://dlab.berkeley.edu/) also offers workshops and consulting to help you hone your skills.